@media (min-width: 320px) {
  .header-wrapper {
    width: 100%;
    height: 60vh;
    background-color: #35a29f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  h1 {
    color: #071952;
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .header-wrapper .profile-image img {
    border: 1px solid #071952;
    border-radius: 50%;
    border-right: #97feed;
    border-top: #0b666a;
    border-width: thick;
    width: 200px;
    height: 200px;
  }
}
